<!-- <app-buton></app-buton> -->
<!-- <app-limpieza></app-limpieza> -->

<!-- <h2>Bienvenidos a {{title}}</h2>
<p>La suma de 10+20 = {{10+20}}</p> -->

<!-- pregunta_logica ? resultado_verdadero : resultado_falso -->

<!-- <p>100 > 50 {{100 > 500 ? 'verdadero' : 'Falso'}}</p> -->

<!-- <h2>Bienvenidos a {{pais}}</h2>

<input type="text" [(ngModel)] = "pais"> -->

<!-- <button *ngIf="logueado == true">Cerrar Sesión</button>
<button *ngIf="logueado !== true">Cerrar Sesión</button> -->
<!-- <button *ngIf="!logueado">Cerrar Sesión</button> -->

<!-- <button *ngIf="pais == 'Guatemala'">Cerrar Sesión</button> -->

<!-- <button *ngIf="(10+30) == 70">Cerrar Sesión</button> -->
<!--
<ol>
<li *ngFor="let persona of personas"></li>
<br>
<li *ngFor="let persona of personas">{{persona}}</li>

</ol>
<br>
<ul>

  <li *ngFor="let persona of personas">{{persona}}</li>

  </ul> -->

<!-- <ol>
    <li *ngFor="let persona of personas">{{persona.nombre + ' ' + persona.apellido}}</li>
  </ol>
  <br><br>

  <ol>
    <li *ngFor="let persona of personas">{{persona.nombre}} | {{persona.apellido}}</li>
  </ol>
  <br><br>

  <ol>
    <li *ngFor="let persona of personas">

      <p *ngIf="persona.nombre.length >5"> {{persona.nombre}} | {{persona.apellido}}</p>

    </li>
  </ol> -->

<!-- <button [ngClass]="boton_desactivado == false ? 'boton_activo' : 'boton_desactivado' ">Enviar</button>
<br><br> -->

<!-- <button (click)="cambioClase()">Cambiar Valor</button> -->

<!-- <p [ngStyle]="{'background-color': boton_desactivado ? 'gray' : 'blue'}" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis architecto dignissimos porro tenetur, voluptate maxime asperiores autem quo delectus, harum totam in exercitationem, aliquid corrupti aliquam necessitatibus libero impedit quibusdam?</p> -->

<!-- <p>Nota = <label [ngStyle]="{'color': calificacion > 60 ? 'blue' : 'red'}">{{calificacion}}</label></p> -->

<!-- <div [ngSwitch]="pais">
  <p *ngSwitchCase="'Guatemala'">Moneda Nacional: Quetzal</p>
  <p *ngSwitchCase="'Honduras'">Moneda Nacional: Lempira</p>
  <p *ngSwitchCase="'El Salvador'">Moneda Nacional: Dolar</p>
  <p *ngSwitchCase="'México'">Moneda Nacional: Peso</p>

</div> -->

<!--
<ol>
  <li *ngFor="let item of personas">
    <p (click)="seleccionarNombre(item.nombre)" (mouseenter)="cursoApellido($event, item.apellido)" (mouseleave)="cursoApellido($event, item.apellido)">
       {{item.nombre}} {{item.apellido}}</p>
  </li>
</ol> -->

<!-- <div>
  <P *ngIf="nombre_seleccionado">Nombre Seleccionado: {{nombre_seleccionado}}</P>
  <P *ngIf="apellido_curso">El curso esta sobre el apellido: {{apellido_curso}}</P>
</div> -->

<!-- <div>
  <input type="text" (keypress)="eventoTeclado($event)">
</div> -->

<!-- <div>
  <input type="text" (change)="cambiosInput($event)">
</div> -->

<!-- <div>
<app-higiene *ngIf="!mostrar_limpieza"></app-higiene>
<app-limpieza *ngIf="mostrar_limpieza"></app-limpieza>

<button (click)="cambioComponente()">Cambio de Componente</button>

</div> -->

<div class="container mt-3">
  <div class="row">
    <div class="col-6">
      <app-formulario-nueva-persona (persona)="agregarPersona($event)">

      </app-formulario-nueva-persona>

    </div>



    <div class="col-3">
      <input type="text" class="form-control mb-3" placeholder="Buscar..." [(ngModel)]= "buscar">
      <ul>
        <li *ngFor="let item of (personas | filtro: buscar)"
          [ngStyle]="{'background-color': item === persona_seleccionada ? item.color: ''}"
          [ngClass]="{'persona_seleccionada': item === persona_seleccionada}">
          {{item.nombre}}
        </li>
      </ul>

      <button class="btn btn-info" (click)="personaAleatorea()">Seleccionar Nombre</button>

    </div>

    <div class="col-6" *ngIf="persona_seleccionada">
      <app-target-ganador [ganador]="persona_seleccionada"></app-target-ganador>


    </div>

  </div>
  <!-- <p>{{'3.1416' | number: '1.0-3'}}</p> -->
  <p>{{'4/28/23' | date: 'full'}}</p>

  <div class="row mt-5">
    <div class="col-3">
      <div [ngSwitch]="pais">


        <div *ngSwitchCase="'Guatemala'">
        <p >Moneda Nacional: Quetzal</p>
        <p>El billede de mayor valor es {{'200'| currency: 'GTQ' }}</p>

        </div>

        <div *ngSwitchCase="'España'">
          <p >Moneda Nacional: Euro</p>
          <p>El billede de mayor valor es {{'500'| currency: 'EUR' }}</p>

          </div>
        <p *ngSwitchCase="'Honduras'">Moneda Nacional: Lempira</p>
        <p *ngSwitchCase="'El Salvador'">Moneda Nacional: Dolar</p>
        <p *ngSwitchCase="'México'">Moneda Nacional: Peso</p>
        <p *ngSwitchDefault=>Ingrese un país válido</p>

      </div>
      <input type="text" [(ngModel)]="pais">

    </div>


  </div>

</div>
