<app-buton></app-buton>
<!-- <app-limpieza></app-limpieza> -->

<!-- <h2>Bienvenidos a {{title}}</h2>
<p>La suma de 10+20 = {{10+20}}</p> -->

<!-- pregunta_logica ? resultado_verdadero : resultado_falso -->

<!-- <p>100 > 50 {{100 > 500 ? 'verdadero' : 'Falso'}}</p> -->

<!-- <h2>Bienvenidos a {{pais}}</h2>

<input type="text" [(ngModel)] = "pais"> -->

<!-- <button *ngIf="logueado == true">Cerrar Sesión</button>
<button *ngIf="logueado !== true">Cerrar Sesión</button> -->
<!-- <button *ngIf="!logueado">Cerrar Sesión</button> -->

<!-- <button *ngIf="pais == 'Guatemala'">Cerrar Sesión</button> -->


<!-- <button *ngIf="(10+30) == 70">Cerrar Sesión</button> -->
<!--
<ol>
<li *ngFor="let persona of personas"></li>
<br>
<li *ngFor="let persona of personas">{{persona}}</li>

</ol>
<br>
<ul>

  <li *ngFor="let persona of personas">{{persona}}</li>

  </ul> -->

  <!-- <ol>
    <li *ngFor="let persona of personas">{{persona.nombre + ' ' + persona.apellido}}</li>
  </ol>
  <br><br>

  <ol>
    <li *ngFor="let persona of personas">{{persona.nombre}} | {{persona.apellido}}</li>
  </ol>
  <br><br>

  <ol>
    <li *ngFor="let persona of personas">

      <p *ngIf="persona.nombre.length >5"> {{persona.nombre}} | {{persona.apellido}}</p>

    </li>
  </ol> -->

<button [ngClass]="boton_desactivado == false ? 'boton_activo' : 'boton_desactivado' ">Enviar</button>
<br><br>

<button (click)="cambioClase()">Cambiar Valor</button>
